/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-05-2019, 10:23:11
    Author     : Kristian Urup laptop
*/


.background
{
    -fx-background-color: #fcef96;
    -fx-border-color: #184981;
    -fx-border-size: 10;
}

.button
{
    -fx-background-color: #0b6623;
    -fx-text-fill: #fcef96;
    -fx-font-family: "Cooper Black";
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 22px;
}

.label
{
    -fx-font-family:"Cooper Black";
    -fx-font-size: 22px;
}

.progress-bar
{
    -fx-box-border: #fcef96;
    -fx-accent: #0b6623;
}

.table-view {
    -fx-base: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-cursor:hand;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}



.table-row-cell{
    -fx-border-color: transparent;
    -fx-border-width: 2;
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.table-cell
{
    -fx-text-fill: black;
    -fx-font-family: "Cooper Black";
    -fx-font-size: 12px;
}

